@{
    ViewData["Title"] = "AssignClaims";
}

<h1>Enter Claims for </h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating table-responsive">
                Email :  <input id="useremail" name="useremail" class="form-control" aria-required="true" placeholder="Employee Email" /> <br />
                Claims Head : <input id="claimsnm" name="claimsnm" class="form-control" aria-required="true" placeholder="Claims Head" /> <br />
                Claims Value : <input id="clvalue" name="clvalue" class="form-control" aria-required="true" placeholder="Claims Value" />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

</div>