@{
    ViewData["Title"] = "Index";
}

<h1>This is Index accessible by all Employees</h1>
<hr />
<div><span class="btn btn-outline-info "><a href="AccessClaims/Hrpage">HR</a></span></div>
<div><span class="btn btn-outline-success "><a href="AccessClaims/Managerpage">MANAGER</a></span></div>
<div><span class="btn btn-outline-secondary "><a href="AccessClaims/AssignClaims">ASSIGN CLAIMS</a></span></div>
<div><span class="btn btn-outline-warning "><a href="AccessClaims/Anonymous">ANONYMOUS</a></span></div>